.transaction-list-container {
  
  padding: 20px;
  background-color: #101923;
  color: #ffffff;
}

.transaction-list-header {
  font-size: 28px;
  font-weight: bold;
  margin-bottom: 30px;
  text-align: center;
}

.transaction-list {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(350px, 1fr)); /* Adjusted for wider cards */
  gap: 20px;
}

.transaction-item {
  background-color: #162447;
  border-radius: 8px;
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
  transition: transform 0.2s ease, box-shadow 0.2s ease;
}

.transaction-item:hover {
  transform: scale(1.05);
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.3);
}

.transaction-header h2 {
  font-size: 16px; 
  font-weight: bold;
  color: #ffffff;
  margin: 0;
  text-overflow: ellipsis; 
  overflow: hidden; 
  white-space: nowrap; 
}


.transaction-logo {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  margin-right: 10px;
  background-color: #ffffff;
}

.transaction-details {
  border-top: 1px solid #e5e7e6;
  padding-top: 10px;
  margin-top: 10px;
}

.transaction-table {
  width: 100%;
  border-collapse: collapse;
}

.transaction-table th,
.transaction-table td {
  text-align: left;
  padding: 10px;
  font-size: 14px;
  border-bottom: 1px solid #2a2f3e;
}

.transaction-table th {
  font-weight: bold;
  color: #90abcb;
  font-size: 15px;
  text-transform: uppercase;
}

.transaction-table td {
  color: #ffffff;
}

.transaction-row-highlight {
  font-weight: bold;
  color: #ffd700; /* Gold color to highlight */
}
